#include <behaviors/mouse_keys.dtsi>
#include <behaviors/mouse_keys.dtsi>
#include "macros.dtsi"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>

&sk { release-after-ms = <1700>; };

&lt { quick-tap-ms = <200>; };

// / {
//     chosen { zmk,matrix_transform = &default_transform; };
// };

/ {
    // input config for mouse move mode

    trackball_listener {
        compatible = "zmk,input-behavior-listener";
        device = <&vtrackball>;
        layers = <0 2 7>;
        evt-type = <INPUT_EV_REL>;
        x-input-code = <INPUT_REL_X>;
        y-input-code = <INPUT_REL_Y>;
        scale-multiplier = <1>;
        scale-divisor = <3>;

        // bindings = <&ib_toggle_layer 7>;
    };

    // input config for snipe mode

    trackball_snipe_listener {
        compatible = "zmk,input-behavior-listener";
        device = <&vtrackball>;
        layers = <5 8>;
        evt-type = <INPUT_EV_REL>;
        x-input-code = <INPUT_REL_X>;
        y-input-code = <INPUT_REL_Y>;
        scale-multiplier = <1>;
        scale-divisor = <4>;
    };

    // input config for mouse scroll mode

    trackball_scroll_listener {
        compatible = "zmk,input-behavior-listener";
        device = <&vtrackball>;
        layers = <9>;
        evt-type = <INPUT_EV_REL>;
        x-input-code = <INPUT_REL_MISC>;
        y-input-code = <INPUT_REL_WHEEL>;
        y-invert;
        bindings = <&ib_wheel_scaler 1 14>;
    };

    // input config for mouse scroll mode hori

    trackball_scroll_listener_horizontal {
        compatible = "zmk,input-behavior-listener";
        device = <&vtrackball>;
        layers = <10>;
        evt-type = <INPUT_EV_REL>;
        x-input-code = <INPUT_REL_WHEEL>;
        y-input-code = <INPUT_REL_WHEEL>;
        bindings = <&ib_wheel_scaler 1 4>;
    };

    test
    */

    // define a resolution down scaler only for INPUT_REL_WHEEL

    ib_wheel_scaler: ib_wheel_scaler {
        compatible = "zmk,input-behavior-scaler";
        #binding-cells = <2>;
        evt-type = <INPUT_EV_REL>;
        input-code = <INPUT_REL_WHEEL>;
    };

    // adjust cooldown waiting period for mouse key layer after activated

    ib_toggle_layer: ib_toggle_layer {
        compatible = "zmk,input-behavior-tog-layer";
        #binding-cells = <1>;
        time-to-live-ms = <800>;
    };

    behaviors {
        td_tb: td_mouse_scroll {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&ht_mo_to 9 7>, <&to 0>;

            tapping-term-ms = <200>;
        };

        td_tb2: td_1slow_scroll_2toL {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&ht_mo_to 9 0>, <&to 0>;
        };

        ht_mo_to: ht_moL_toL {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&mo>, <&to>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
        };

        ht_hm_rshft: hm_Rshift {
            compatible = "zmk,behavior-hold-tap";
            label = "ht_hm_rshft";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <155>;
        };

        ht_hm_lshft: hm_Lshift {
            compatible = "zmk,behavior-hold-tap";
            label = "ht_hm_lshft";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <155>;
        };

        ht_hm: homerow_mod {
            compatible = "zmk,behavior-hold-tap";
            label = "Homerow Mod";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            flavor = "tap-preferred";
        };

        pipe_d: pipe_hold_double {
            compatible = "zmk,behavior-hold-tap";
            label = "PIPE_D";
            bindings = <&double_pipe>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <230>;
        };

        amps_d: amps_hold_double {
            compatible = "zmk,behavior-hold-tap";
            label = "AMPS_D";
            bindings = <&double_amp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        euqal_d: euqal_hold_double {
            compatible = "zmk,behavior-hold-tap";
            label = "EUQAL_D";
            bindings = <&double_equal>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        plus_d: plus_hold_double {
            compatible = "zmk,behavior-hold-tap";
            label = "PLUS_D";
            bindings = <&double_plus>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        minus_d: minus_hold_double {
            compatible = "zmk,behavior-hold-tap";
            label = "MINUS_D";
            bindings = <&double_mimus>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        gt_gte: gt_hold_gte {
            compatible = "zmk,behavior-hold-tap";
            label = "GT_GTE";
            bindings = <&gte>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        lt_lte: lt_hold_lte {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_LTE";
            bindings = <&lte>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        under_d: under_hold_double {
            compatible = "zmk,behavior-hold-tap";
            label = "UNDER_D";
            bindings = <&double_underscore>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
        };

        lpar_lr: lpar_hold_lr {
            compatible = "zmk,behavior-hold-tap";
            label = "LPAR_LR";
            bindings = <&double_parenthesis_lr>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        lbrace_lr: lbrace_hold_lr {
            compatible = "zmk,behavior-hold-tap";
            label = "LBRACE_LR";
            bindings = <&double_braces_lr>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        lbracket_lr: lbracket_hold_lr {
            compatible = "zmk,behavior-hold-tap";
            label = "LBRACKET_LR";
            bindings = <&double_brackets_lr>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        lt_mkp: lt_moL_mouseKP {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_MOUSEKP";
            bindings = <&mo>, <&mkp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        ht_mkp: ht_mouseKP_KP {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_MOUSEKP";
            bindings = <&mkp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            flavor = "tap-preferred";
        };

        td_ms: td_mouse_scroll2 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_MOUSE_SCROLL";
            #binding-cells = <0>;
            bindings = <&lt 7 TAB>, <&mo 9>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <39>;
            key-positions = <1 2>;
            bindings = <&kp ESC>;
            layers = <0 2 1 4>;
        };

        combo_lpar {
            timeout-ms = <38>;
            key-positions = <16 15>;
            bindings = <&lpar_lr 0 LEFT_PARENTHESIS>;
            layers = <0 1>;
        };

        combo_rpar {
            timeout-ms = <33>;
            key-positions = <19 20>;
            bindings = <&kp RPAR>;
            layers = <0>;
        };

        combo_lbkt {
            timeout-ms = <38>;
            key-positions = <14 16>;
            bindings = <&lbracket_lr 0 LEFT_BRACKET>;
            layers = <0 1>;
        };

        combo_rbkt {
            timeout-ms = <33>;
            key-positions = <19 21>;
            bindings = <&kp RBKT>;
            layers = <0>;
        };

        combo_lbrc {
            timeout-ms = <40>;
            key-positions = <14 15>;
            bindings = <&lbrace_lr 0 LEFT_BRACE>;
            layers = <0>;
        };

        combo_rbrc {
            timeout-ms = <33>;
            key-positions = <20 21>;
            bindings = <&kp RIGHT_BRACE>;
            layers = <0>;
        };

        combo_lt {
            timeout-ms = <45>;
            key-positions = <26 28>;
            bindings = <&lt_lte 0 LESS_THAN>;
            layers = <0 1>;
        };

        combo_gt {
            timeout-ms = <45>;
            key-positions = <31 33>;
            bindings = <&gt_gte 0 GREATER_THAN>;
            layers = <0 1>;
        };

        combo_game_layer {
            bindings = <&tog 4>;
            key-positions = <24 35>;
            layers = <0 4>;
        };

        combo_bspc {
            bindings = <&kp BACKSPACE>;
            key-positions = <7 19>;
            layers = <0 2 1>;
        };

        combo_del {
            bindings = <&kp DEL>;
            key-positions = <8 20>;
            layers = <0 2 1 4>;
        };

        combo_ctrl_z {
            bindings = <&kp LC(Z)>;
            key-positions = <25 13>;
            layers = <0>;
        };

        combo_ctrl_x {
            bindings = <&kp LC(X)>;
            key-positions = <26 14>;
            layers = <0>;
        };

        combo_copy {
            bindings = <&kp LC(C)>;
            key-positions = <27 15>;
            layers = <0>;
        };

        combo_paste {
            bindings = <&kp LC(V)>;
            key-positions = <28 16>;
            layers = <0>;
        };

        combo_enter2 {
            bindings = <&kp ENTER>;
            key-positions = <9 21>;
            layers = <0 2 1 4>;
        };

        combo_clean {
            bindings = <&tog 11>;
            key-positions = <36 37 38>;
            layers = <0 11>;
        };

        combo_space {
            bindings = <&kp SPACE>;
            key-positions = <3 15>;
            layers = <0 2 1 5>;
        };

        combo_enter {
            bindings = <&kp ENTER>;
            key-positions = <4 16>;
            layers = <0 2 1 4 5>;
        };

        combo_caps {
            bindings = <&kp CAPSLOCK>;
            key-positions = <2 14>;
            layers = <0>;
        };

        combo_num0 {
            bindings = <&kp N0>;
            key-positions = <31 19>;
            layers = <0 1 5>;
        };

        combo_num1 {
            bindings = <&kp NUMBER_1>;
            key-positions = <32 20>;
            layers = <0 1 5>;
        };

        combo_ctrl+a {
            bindings = <&kp LC(A)>;
            key-positions = <1 13>;
            layers = <0>;
        };

        combo_num9 {
            bindings = <&kp N9>;
            key-positions = <33 21>;
            layers = <0 1 5>;
        };

        combo_equal {
            bindings = <&euqal_d 0 EQUAL>;
            key-positions = <26 27>;
            timeout-ms = <45>;
            layers = <0 1>;
        };

        combo_plus {
            bindings = <&plus_d 0 PLUS>;
            key-positions = <28 27>;
            timeout-ms = <45>;
            layers = <0 1>;
        };

        combo_meta+a {
            bindings = <&kp LG(A)>;
            key-positions = <38 37>;
            timeout-ms = <45>;
            layers = <0 1>;
        };

        combo_win+grave {
            bindings = <&kp LG(GRAVE)>;
            key-positions = <3 4>;
            layers = <0>;
        };

        combo_win+tlide {
            bindings = <&kp LG(LS(GRAVE))>;
            key-positions = <2 3>;
            layers = <0>;
        };

        combo_minus2 {
            bindings = <&minus_d 0 MINUS>;
            key-positions = <31 32>;
            timeout-ms = <45>;
            layers = <0>;
        };

        combo_underscore {
            bindings = <&under_d 0 UNDERSCORE>;
            key-positions = <32 33>;
            timeout-ms = <45>;
            layers = <0>;
        };

        combo_altF4 {
            bindings = <&kp LA(F4)>;
            key-positions = <1 4>;
            layers = <0>;
        };

        combo_dq {
            bindings = <&kp DQT>;
            key-positions = <3 14>;
            layers = <0 1>;
        };

        combo_sq {
            bindings = <&kp SQT>;
            key-positions = <21 8>;
            layers = <0 1>;
            timeout-ms = <45>;
        };
    };

    macros {
        double_pipe: double_pipe {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap_time 5>, <&kp PIPE &kp PIPE>;

            label = "DOUBLE_PIPE";
        };

        double_amp: double_amp {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap_time 5>, <&kp AMPS &kp AMPS>;

            label = "DOUBLE_AMP";
        };

        double_equal: double_equal {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap_time 5>, <&kp EQUAL &kp EQUAL>;

            label = "DOUBLE_EQUAL";
        };

        not_equal: not_equal {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap_time 5>, <&kp EXCL &kp EQUAL>;

            label = "NOT_EQUAL";
        };

        double_plus: double_plus {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap_time 5>, <&kp PLUS &kp PLUS>;

            label = "DOUBLE_PLUS";
        };

        double_mimus: double_mimus {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap_time 5>, <&kp MINUS &kp MINUS>;

            label = "DOUBLE_MIMUS";
        };

        gte: gte {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap_time 5>, <&kp GT &kp EQUAL>;

            label = "GTE";
        };

        lte: lte {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap_time 5>, <&kp LT &kp EQUAL>;

            label = "LTE";
        };

        double_underscore: double_underscore {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap_time 5>, <&kp UNDERSCORE &kp UNDERSCORE>;

            label = "DOUBLE_UNDERSCORE";
        };

        double_parenthesis_lr: double_parenthesis_lr {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap_time 5>, <&kp LPAR &kp RPAR>;

            label = "DOUBLE_PARENTHESIS_LR";
        };

        double_braces_lr: double_braces_lr {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap_time 5>, <&kp LBRC &kp RBRC>;

            label = "DOUBLE_BRACES_LR";
        };

        double_brackets_lr: double_brackets_lr {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap_time 5>, <&kp LBKT &kp RBKT>;

            label = "DOUBLE_BRACKETS_LR";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        BASE {
            bindings = <
&lt 7 TAB       &kp Q              &kp W              &kp E                  &kp R                      &kp T        &kp Y               &kp U                       &kp I                  &kp O              &kp P                      &mo 10
&lt 3 DEL       &ht_hm LEFT_WIN A  &ht_hm LEFT_ALT S  &ht_hm LEFT_CONTROL D  &ht_hm_lshft LEFT_SHIFT F  &kp G        &kp H               &ht_hm_rshft RIGHT_SHIFT J  &ht_hm LEFT_CONTROL K  &ht_hm LEFT_ALT L  &ht_hm LEFT_WIN SEMICOLON  &mkp LCLK
&lt_mkp 9 RCLK  &lt 5 Z            &kp X              &kp C                  &kp V                      &kp B        &kp N               &ht_mkp LCLK M              &ht_mkp MCLK COMMA     &ht_mkp RCLK DOT   &lt 5 SLASH                &lt 3 C_MUTE
                                                      &lt 7 TAB              &lt 1 BACKSPACE            &mkp LCLK    &lt 1 LANG_HANGEUL  &lt 2 SPACE
            >;
        };

        NUM+SYM {
            bindings = <
&trans  &kp GRAVE        &kp TILDE     &kp CARET  &amps_d 0 AMPS  &pipe_d 0 PIPE    &kp ASTERISK  &ht_hm F7 N7  &ht_hm F8 N8  &ht_hm F9 N9  &ht_hm F12 PLUS       &trans
&trans  &kp EXCLAMATION  &kp AT_SIGN   &kp HASH   &kp DOLLAR      &kp PERCENT       &kp SLASH     &ht_hm F4 N4  &ht_hm F5 N5  &ht_hm F6 N6  &ht_hm F11 MINUS      &trans
&trans  &kp INS          &kp QUESTION  &kp LBKT   &kp RBKT        &kp DQT           &kp N0        &ht_hm F1 N1  &ht_hm F2 N2  &ht_hm F3 N3  &ht_hm F10 BACKSLASH  &trans
                                       &trans     &trans          &trans            &trans        &kp N0
            >;
        };

        NAV {
            bindings = <
&none  &none     &none     &none             &none           &none     &kp INS  &kp HOME        &kp UP_ARROW  &kp END        &kp PG_UP      &none
&none  &kp LWIN  &kp LALT  &kp LEFT_CONTROL  &kp LEFT_SHIFT  &trans    &trans   &kp LEFT_ARROW  &kp DOWN      &kp RIGHT      &kp PAGE_DOWN  &none
&none  &none     &none     &none             &none           &none     &trans   &kp LG(PG_UP)   &none         &kp LG(PG_DN)  &trans         &none
                           &trans            &trans          &trans    &trans   &trans
            >;
        };

        EXTRAS {
            bindings = <
&bootloader  &kp C_VOL_UP  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_CLR         &bootloader     &sys_reset         &bt BT_SEL 0     &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_CLR
&none        &kp C_VOL_DN  &kp HOME      &kp UP        &kp END       &kp PG_UP          &studio_unlock  &none              &none            &none         &none         &none
&none        &kp C_MUTE    &kp LEFT      &kp DOWN      &kp RIGHT     &kp PRINTSCREEN    &none           &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp C_MUTE    &none         &none
                                         &none         &none         &none              &kp RALT        &none
            >;
        };

        GAME {
            bindings = <
&kp N1  &kp TAB    &kp Q  &kp W        &kp E      &kp R           &kp Y   &kp U      &kp I      &kp O      &kp P        &kp BACKSPACE
&kp N2  &kp LCTRL  &kp A  &kp S        &kp D      &kp F           &kp H   &kp J      &kp K      &kp L      &kp SEMI     &kp ENTER
&kp N3  &kp LSHFT  &kp Z  &kp X        &kp C      &kp V           &kp N   &mkp LCLK  &mkp MCLK  &mkp RCLK  &lt 5 SLASH  &kp RSHFT
                          &lt 5 GRAVE  &kp SPACE  &kp LEFT_ALT    &trans  &kp SPACE
            >;
        };

        NUMBER {
            bindings = <
&trans  &trans  &kp N7  &kp N8  &kp N9  &kp T     &trans  &kp N7  &kp N8  &kp N9  &trans  &trans
&trans  &trans  &kp N4  &kp N5  &kp N6  &kp G     &trans  &kp N4  &kp N5  &kp N6  &trans  &trans
&trans  &trans  &kp N1  &kp N2  &kp N3  &kp B     &kp N0  &kp N1  &kp N2  &kp N3  &trans  &trans
                        &kp N0  &trans  &trans    &trans  &trans
            >;
        };

        layer6 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans
            >;
        };

        MOUSE {
            bindings = <
&none      &msc MOVE_LEFT  &msc MOVE_UP    &mmv MOVE_UP    &msc MOVE_DOWN   &msc MOVE_RIGHT    &none         &none            &none      &none         &none           &none
&mkp LCLK  &mkp MB4        &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &mkp MB5           &none         &kp RIGHT_SHIFT  &kp LCTRL  &kp LEFT_ALT  &kp LEFT_META   &none
&none      &msc MOVE_UP    &mkp LCLK       &mkp MCLK       &mkp RCLK        &msc MOVE_DOWN     &msc MOVE_UP  &mkp LCLK        &mkp MCLK  &mkp RCLK     &msc MOVE_DOWN  &none
                                           &mkp MCLK       &mkp LCLK        &mkp RCLK          &trans        &trans
            >;
        };

        SLOW {
            bindings = <
&none      &msc MOVE_LEFT  &msc MOVE_UP    &mmv MOVE_UP    &msc MOVE_DOWN   &msc MOVE_RIGHT    &none         &none            &none      &none         &none           &none
&mkp LCLK  &mkp MB4        &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &mkp MB5           &none         &kp RIGHT_SHIFT  &kp LCTRL  &kp LEFT_ALT  &kp LEFT_META   &none
&none      &msc MOVE_UP    &mkp LCLK       &mkp MCLK       &mkp RCLK        &msc MOVE_DOWN     &msc MOVE_UP  &mkp LCLK        &mkp MCLK  &mkp RCLK     &msc MOVE_DOWN  &none
                                           &mkp MCLK       &mkp LCLK        &mkp RCLK          &trans        &trans
            >;
        };

        SCROLL {
            bindings = <
&none      &msc MOVE_LEFT  &msc MOVE_UP    &mmv MOVE_UP    &msc MOVE_DOWN   &msc MOVE_RIGHT    &none         &none            &none      &none         &none           &none
&mkp LCLK  &mkp MB4        &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &mkp MB5           &none         &kp RIGHT_SHIFT  &kp LCTRL  &kp LEFT_ALT  &kp LEFT_META   &none
&none      &msc MOVE_UP    &mkp LCLK       &mkp MCLK       &mkp RCLK        &msc MOVE_DOWN     &msc MOVE_UP  &mkp LCLK        &mkp MCLK  &mkp RCLK     &msc MOVE_DOWN  &none
                                           &mkp MCLK       &mkp LCLK        &mkp RCLK          &trans        &trans
            >;
        };

        SCROLL_HORI {
            bindings = <
&none      &msc MOVE_LEFT  &msc MOVE_UP    &mmv MOVE_UP    &msc MOVE_DOWN   &msc MOVE_RIGHT    &none         &none            &none      &none         &none           &none
&mkp LCLK  &mkp MB4        &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &mkp MB5           &none         &kp RIGHT_SHIFT  &kp LCTRL  &kp LEFT_ALT  &kp LEFT_META   &none
&none      &msc MOVE_UP    &mkp LCLK       &mkp MCLK       &mkp RCLK        &msc MOVE_DOWN     &msc MOVE_UP  &mkp LCLK        &mkp MCLK  &mkp RCLK     &msc MOVE_DOWN  &none
                                           &mkp MCLK       &mkp LCLK        &mkp RCLK          &trans        &trans
            >;
        };

        CLEAN {
            bindings = <
&none  &none  &none  &none  &none  &kp A    &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
                     &none  &none  &none    &none  &none
            >;
        };
    };
};
